html,
body {
  background-color: #f7f7f7;
}
section:nth-child(1) header p {
  margin: .5rem auto 0;
  width: 6.9rem;
  padding: 0 .1rem;
  font-size: .2rem;
  line-height: .46rem;
  text-align: left;
  border-radius: .05rem;
  color: #ffffff;
  background-color: #ffab53;
}
section:nth-child(1) main {
  margin: .4rem auto;
  padding: 1.9rem 0 .94rem;
  width: 7.1rem;
  background-color: #ffffff;
  box-shadow: 0 5px 8px #e0e0e0;
  border-radius: .1rem;
}
section:nth-child(1) main > div:nth-child(1) {
  margin: 0 auto;
  width: 1.69rem;
  height: 1.41rem;
}
section:nth-child(1) main > div:nth-child(1) img {
  width: 100%;
  height: 100%;
}
section:nth-child(1) main h2 {
  font-size: .3rem;
  text-align: center;
  color: #333333;
  line-height: 1.3rem;
}
section:nth-child(1) main p {
  font-size: .2rem;
  line-height: 2em;
  text-align: center;
  color: #666666;
}
section:nth-child(1) main a {
  margin: 3rem auto 0;
  display: block;
  width: 5.12rem;
  height: .65rem;
  font-size: .3rem;
  line-height: .65rem;
  text-align: center;
  color: #ffffff;
  border-radius: .1rem;
  background-color: #ffab53;
  box-shadow: 0 5px 8px #e3b794;
}
